.recipe-card {
  position: relative;
  width: 250px;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  text-align: center;
  background: white;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  margin: 10px;
}

.image-container {
  position: relative;
}

.image-container img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.favorite-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
  color: gray;
  transition: color 0.3s;
  pointer-events: auto;  
}

.favorite-icon.favorited {
  color: red;
}

#fav-head{
  text-align: center;
  padding: 25px 0px;
  font-size: 30px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

